@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
box-sizing: border-box;
}

/*
*{
  font-family: 'Open Sans Condensed', sans-serif;
}*/








/*****************************************
**  nav section style
******************************************/
  .nav-link {
        font-size: 22px;
        font-weight: bold;
        color: black;
        text-decoration: none;
        padding: 27px 15px;
        display: inline-block;
        width: auto;
  }






/*****************************************
**  video section style
******************************************/
.video_section {
  height: auto;
  padding: 136px 200px;
}

.video_section .tittle_head {
  height: auto;
  padding: 50px 0;
}



@media only screen and (max-width: 768px) {

  .video_section {
    padding: 56px 36px;
  }

  .tittle_head {
    height: auto;
    padding: 50px 0;
    text-align: center;
  }

  .nav-link {
        display: none;
  }

}
